<div class="grid">
  {% if page.branding %}
    <header aria-label="Site header" class="header" id="header" role="banner">
      {{ page.branding }}
    </header>
  {% endif %}
  <section aria-label="Site main content" class="content gogocarto" id="content" role="main">
    <iframe width="100%" height="auto" src="https://karte.erdfest.org/map#/carte/@50.72,6.09,5z?cat=all" frameborder="0" marginheight="0" marginwidth="0"></iframe>
    {# <div id="gogocarto"></div>#}
  </section>
  <section class="left--sidebar" id="sidebar" role="complementary">
    {{ page.navigation }}
  </section>
  <footer>
    {{ page.footer }}
  </footer>
</div>
{# {{ attach_library('erdling/gogocarto') }}
<script>
   (function($) {
     Drupal.behaviors.GoGoCarto = {
       attach: function (context, settings) {
         carto = goGoCarto("#gogocarto", "https://karte.erdfest.org/api/gogocartojs-conf.json");
       }
     };
    })(jQuery);
</script>
#}
