<div class="grid">
  {% if page.branding %}
    <header aria-label="Site header" class="header" id="header" role="banner">
      {{ page.branding }}
    </header>
  {% endif %}
  {% if page.header_top %}
    <section class="header_top" role="presentation">
      {{ page.header_top }}
    </section>
  {% endif %}
  {% if page.header %}
    <section class="header" role="presentation">
      {{ page.header }}
    </section>
  {% endif %}
  {% if page.breadcrumb %}
    <section class="breadcrumb" role="presentation">
      {{ page.breadcrumb }}
    </section>
  {% endif %}
  {% if page.hero %}
    <section class="hero" role="presentation">
      {{ page.hero }}
    </section>
  {% endif %}
  {% if page.content_top %}
    <section class="content_top" role="presentation">
      {{ page.content_top }}
    </section>
  {% endif %}
  {% if page.content %}
    <section aria-label="Site main content" class="content" id="content" role="main">
      {% if page.title %}
        {{ page.title }}
      {% endif %}
      {{ page.content }}
    </section>
  {% endif %}
  {% if page.complementary_top %}
    <section class="complementary_top" role="presentation">
      {{ page.complementary_top }}
    </section>
  {% endif %}
  {% if page.complementary_bottom %}
    <section class="complementary_bottom" role="presentation">
      {{ page.complementary_bottom }}
    </section>
  {% endif %}
  {% if page.content_bottom %}
    <section class="content_bottom" role="presentation">
      {{ page.content_bottom }}
    </section>
  {% endif %}
  {% if page.navigation %}
    <section class="left--sidebar" id="sidebar" role="complementary">
      {{ page.navigation }}
    </section>
  {% endif %}
  {% if page.footer %}
    <footer>
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
{% if page.mobile %}
  {{ page.mobile }}
{% endif %}
