{#
/**
 * @file
 * Socialbase's theme implementation to display a landing page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 *
 * @see template_preprocess_page()
 * @see /html/profiles/contrib/social/themes/socialbase/templates/layout/page.html.twig
 */
#}

{%
  set classes = [
  'row',
]
%}

{% if page.header %}
  {{ page.header }}
{% endif %}
<div class="grid">
  {% if page.branding %}
    <header aria-label="Site header" class="header" id="header" role="banner">
      {{ page.branding }}
    </header>
  {% endif %}
  {% if page.hero %}
    <section  class="hero" role="presentation">
      {{ page.hero }}
    </section>
  {% endif %}
  <main id="content" class="main-container content" role="main">

    {# No breadcrumbs for landing pages #}
    {# Hero region will be in section #}
    {# No secondary navigation #}
    {% if page.content_top %}
      {{ page.content_top }}
    {% endif %}
    {# Clear section class #}
    <section{{ attributes.addClass(classes) }}>
      {# Page title printed in a section #}
      {# No side blocks #}
      {% if container_wrapper %}<div class="row container layout--with-complementary">{% endif %}

      {% if page.secondary_navigation %}
        {{ page.secondary_navigation }}
      {% endif %}

      {% block content %}
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      {% endblock %}

      {% if container_wrapper %}<aside class="region--complementary" role="complementary"></aside></div>{% endif %}

    </section>

  </main>

  <section class="left--sidebar" id="sidebar" role="complementary">
    {{ page.navigation }}
  </section>
  {% if page.footer %}
    <footer>
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
